.venv/
__pycache__/
.env
*.pyc
data/raw/*
data/processed/*
data/external_cache/*
data/outputs/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external_cache/.gitkeep
!data/outputs/.gitkeep
.ipynb_checkpoints/
*.log
*.err
